<div class="list-group-item dependent">
  <div class="row">
    {{#with data}}
      <div class="col-md-4">
        <h3>
          {{fullName}}<br />
          <small>{{relation}}</small>
        </h3>
      </div>
      <div class="col-md-4">
        
      </div>
      <div class="col-md-4">

      </div>
    {{/with}}
  </div>
</div>