<div {{bind-attr class=":right-inner-text-addon formgroup:form-group valid:valid"}}>
  {{yield}}
  {{#if valid}}<span class="text-addon"><i class="fa fa-fw fa-check text-success"></i></span>{{/if}}
</div>