<div class="form-group text-center">
  <p>{{#link-to 'support.employee'}}<i class="fa fa-fw fa-user"></i> Help with enrolling for or changing benefits{{/link-to}}</p>
  <p>{{#link-to 'support.company'}}<i class="fa fa-fw fa-building"></i> Help with managing your corporate account{{/link-to}}</p>
</div>
