/*
  Company-Account/Settings Styles
*/

.setting {
  border-top: 1px dotted fade(@brand-default, 10%);

  .toggle-view {
    padding-top: 20px;
  }

  &.form-group {
    display: block;
    margin: 10px 0;
    padding: 10px 0;
  }
}

section.setting-section {
  padding-bottom: 30px;
  margin-top: 30px;

  &:first-child {
    margin-top: 10px;
  }

  &:not(:last-child):not(.setting-no-sep) {
    border-bottom: 2px dotted fade(@brand-default, 10%);
  }

  .section-title {
    margin: 0;
  }
}
