{{#viewport-max class="with-separation"}}
  <section class="company-analytics">
    <h3>Employees Over Time</h3>
    {{general-chart class="no-arc-color chart-dark align-chart-center" dataset=employeesOverTimeDataset chartOptions=employeesOverTimeChart.chartOptions dataOptions=employeesOverTimeChart.dataOptions height='400'}}
  </section>

  {{page-separation class="separation-bottom"}}
{{/viewport-max}}
