<div class="enrollment-card container">
  <h2>
    We've Got You Covered.<br />
    <small>
      Select Your Medical Coverage
    </small>
  </h2>
  <hr />

  <div class="plan-selection-list list-group">
    <a href="#" class="list-group-item item-danger" {{action "waiveCoverage"}}>
      <h3 class="text-center no-margins">I want to waive medical coverage</h3>
    </a>

    <a href="#" class="list-group-item" {{action "waiveCoverage"}}>
      <h3 class="plan-title">ChoiceCare</h3>
    </a>
  </div>
</div>
