/*
  Enrollment Styles
*/

.enrollment-view {

  .enrollment-wrapper {
    width: 80%;
    margin: 0 auto;

    .enrollment-media-queries();

    .scroll-spy-section {
      padding-top: 20px;
    }

    .scroll-section {
      padding-top: 10px;
      overflow: hidden;

      .enrollment-card {
        padding: 20px;
        background-color: @enrollment-panel-color;
        margin-bottom: 20px;

        hr {
          margin: 0 !important;
          border-top: 1px solid fade(@brand-default, 30%);
        }

        .enrollment-subtitle {
          font-size: 150%;
        }
      }
    }
  }
}

.enrollment-media-queries() {
  @media all and (max-width: 1600px) {
    width: 98% !important;
  }
}

.enrollment-card[data-section="enroll-personal-information"] {
  form .row {
    padding-top: 20px;
  }
}