/*
  Footer Styles
*/

@footer-padding:           25px;
@footer-background:        rgba(255, 255, 255, 0.8);
@footer-background-hover:  rgba(red(@brand-primary), green(@brand-primary), blue(@brand-primary), 0.8);

footer.app-footer {
  width: 100%;
  background-color: @footer-background;
  padding: @footer-padding;

  .transition(~'all ease-in-out .4s');

  &:hover {
    color: @brand-offwhite !important;
    background-color: @footer-background-hover;

    ul.footer-links li a {
      color: darken(@brand-offwhite, 15%);

      &:hover {
        color: @brand-offwhite;
      }
    }
  }

  ul.footer-links {
    list-style: none;
    text-align: right;

    li {
      display: inline-block;
      
      &:after {
        content: ' | ';
      }

      &:last-of-type {
        &:after {
          content: '';
        }
      }
      
      a {
        color: @brand-primary;
        display: inline-block;
      }
    }
  }
}