/*
	Global Styles
*/

* {
  margin: 0;
}

body, html {
  height: 100%;
  background-color: @brand-offwhite;
}

@header-height: 80px;
@footer-height: 200px;

.app-view {
  .prefix-display-flex();
  min-height: 100vh;
  .prefix-flex-direction(column);

  .transition-container {
    margin-top: @header-height;

    > .liquid-child {
      min-height: 90vh;
    }
  }
}

.help {
  display: block;
  width: 100%;
  font-size: 80%;

  a {
    color: @brand-default;

    &:hover {
      text-decoration: none;
      color: lighten(@brand-default, 25%);
    }
  }
  &.help-right {
    text-align: right;
  }
}

a {
  color: @brand-primary;
  text-decoration: none !important;

  &.light {
    color: darken(@brand-info, 20%);

    &:hover {
      color: @brand-info;
    }
  }

  .transition(~"all ease-in-out 0.35s");

  &:hover {
    color: lighten(@brand-primary, 20%);
  }
}

.hide-slide {
  opacity: 0;
  max-height: 0;
  overflow: hidden;

  .transition(~"opacity ease-in-out 0.4s, max-height ease-in-out 0.25s");
  
  &.show {
    opacity: 1;
    max-height: 400px;
  }
}

.page-gutters {
  width: 85%;
  margin: 0 auto;

  @media all and (max-width: @screen-md) and (min-width: @screen-sm) {
    width: 90%
  }
  @media all and (max-width: @screen-sm) {
    width: 95%
  }
}

.clickable {
  cursor: pointer;
}

.text-sm {
  font-size: 80%;
}

.text-xs {
  font-size: 60%;
}

.form-wrapper {
  width: 70%;
  margin: 20px auto;
}

p.extra-padding {
  margin: 20px;
}

.modal {
  color: @brand-default !important;
}

.liquid-inline {
  display: inline-block;
}

.ember-list-view.control-width {
  overflow-x: hidden !important;
}

.ember-list-view {
  overflow: auto;
  position: relative;
}
.ember-list-item-view {
  position: absolute;
}

.form-group.form-group-block {
  display: block !important;
}

.input-inline {
  display: inline-block !important;
  width: auto;
}

label {
  font-weight: 100 !important;
}
