/*
  Global Input Styles
*/

/* Inner Input Addons */
.left-inner-addon {
  position: relative;

  input {
    padding-left: 30px;
  }

  i.text-addon, span.text-addon, i.text-addon-left, span.text-addon-left {
    position: absolute;
    top: 0;
    left: 0;
    padding: 6px 12px;
    pointer-events: none;
  }
}

.right-inner-addon {
  position: relative;

  input {
    padding-right: 30px;
  }

  i.text-addon, span.text-addon, i.text-addon-right, span.text-addon-right {
    position: absolute;
    top: 0;
    right: 0px;
    padding: 6px 12px;
    pointer-events: none;
  }
}

.right-inner-text-addon {
  position: relative;

  input {
    padding-right: 30px; 
  }

  span.text-addon, span.text-addon-right {
    position: absolute;
    right: 0;
    top: 0;
    pointer-events: none;
    padding: 6px 7px;
    font-weight: 100;
    max-width: 150px;
    overflow: hidden;

    &.success {
      color: lighten(@brand-success, 20%);
    }

    &.danger {
      color: lighten(@brand-danger, 20%);
    }
  }
}

.right-inner-addon, .right-inner-text-addon, .left-inner-addon {
  &.addon-with-label {
    > i, span {
      top: 23px !important;
    }
  }
}