/*
  Navigation Styles
*/

nav.app-header {
  position: fixed;
  z-index: 99;
  background: rgba(255, 255, 255, 0.8);

  .trl();
  .transition(~'all ease-in-out .4s');

  &.fill-primary {
    background: @brand-primary;
  }

  &.fill-dark {
    background: @brand-default;
  }

  .row {
    margin: 0;
  }

  .header-left {
    .logo-container {
      padding: 10px;
      width: 100%;
      height: 80px;
      margin-left: 10px;
      .perspective(20px);
      
      .logo {
        display: inline-block;
        width: 80px;
        height: 100%;
        background-image: url(images/ae_logo.png);
        background-repeat: no-repeat;
        background-size: contain;
      }

      .trust-text {
        display: inline-block;
        opacity: 0;
        height: 100%;
        width: 220px;
        font-weight: 100;
        padding-left: 6px;
        font-size: 30px;
        line-height: 1;
        vertical-align: top;
        color: white;

        .transition(~"all ease-in-out .25s");
        .transform-origin(0%);
        .rotateY(90deg);
      }

      &.show-trust-text {
        width: 100%;

        .trust-text {
          opacity: 1;

          .rotateY(0deg);
        }
      }
    }
  }

  .header-right {

    .right-container-media-queries();

    ul.header-links {
      list-style: none;
      text-align: right;
      padding: 23px;
      margin: 0;

      .ul-media-queries();

      li {
        display: inline-block;
        
        a {
          display: inline-block;
        }
      }
    }
  }

  // Local Mixin Definitions
  .ul-media-queries() {
    @media all and (max-width: @screen-md) {
      padding: 10px;
    }
  }

  .right-container-media-queries() {
    @media all and (max-width: @screen-md) {
      z-index: 1;
      background: rgba(255, 255, 255, 0.6);
    }
  }
}