/*
  Scroll Spy Styles
*/

@scroll-spy-transition: ~"all ease-in-out 0.4s";
@active-box-shadow: 3px 0 0 rgba(255, 255, 255, 0.8);

.scroll-spy-view {
  //background-color: @enrollment-panel-color;
  width: 240px;
  padding: 20px;

  .transition(@scroll-spy-transition);

  /* ul -> li -> ul -> li */
  ul.titles {
    padding-left: 0;
    margin-bottom: 20px;

    li.title {
      font-weight: 100;
      z-index: 2;

      a {
        display: block;
        color: lighten(@brand-default, 50%);
      }

      &.active {

        & > a {
          .active-style();
        }

        ul.subtitles {
          visibility: visible;
          opacity: 1;
          max-height: 300px;

          li.active {

            & > a {
              .active-style();
            }

          }

        }
      }

      ul.subtitles {
        padding-left: 10px;
        max-height: 0;
        visibility: hidden;
        opacity: 0;
        z-index: 1;

        li.subtitle {
          font-size: 85%;

          &.active {
            color: @brand-primary;
          }
        }
      }
    }
  }

  ul {
    list-style: none;
  }
}

.active-style() {
  color: white;
  .box-shadow(@active-box-shadow);
}