/*
  Side Navigation Styles
*/

.side-navigation-wrapper {
  overflow: hidden;
  position: relative;
  min-height: 500px;
}

.side-navigation {
  max-width: 80%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -80%;
  background-color: fade(@brand-default, 95%);
  color: white;
  padding: 20px 40px;
  z-index: 1;

  .transition-all();

  .nav-close {
    position: absolute;
    top: 0;
    right: 3px;
    color: white;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0 0 12px 0;
    padding: 0 0 12px 0;
    border-bottom: 1px solid @brand-default;

    a {
      color: white;

      &:hover {
        color: lighten(@brand-primary, 15%);
      }
    }
  }

  ul.nav-links {
    padding: 0;
    list-style: none;

    li.nav-link {
      a {
        color: white;
        font-weight: 100;

        &.active {
          @nav-link-active-color: lighten(@brand-primary, 40%);
          color: @nav-link-active-color;

          &:hover {
            color: @nav-link-active-color;
          }
        }

        &:hover {
          color: lighten(@brand-primary, 15%);
        }
      }
    }
  }

  &.expanded {
    left: 0;
    overflow-x: scroll;
  }
}
