/*
  Signature Pad Styles
*/

@sp-background: white;
@sp-border: 2px solid @gray-lighter;

.signature-pad {
  text-align: center;

  .user-select(none);

  &.signature-pad-fullscreen {
    width: 100%;

    .signature-pad-controls {
      
    }
  }

  &:not(.signature-pad-fullscreen) {
    margin: 10px auto 50px auto;

    canvas.signature-pad-canvas {
      position: relative;

    }

    .signature-pad-controls {
      margin: 1px 0 0 0;
      position: absolute;
      left: 0;
      right: 0;

      a {
        background: @sp-background;
        padding: 8px 12px;
        border-radius: 0 0 3px 3px;
        border-top: 1px solid @gray-lighter;
        border-left: @sp-border;
        border-right: @sp-border;
        border-bottom: @sp-border;
        font-weight: 100;

        &.left {
          float: left;
        }

        &.right {
          float: right;
        }
      }
    }

    .signature-pad-helper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      text-align: center;
      font-weight: 100;
      color: @gray-light;
      font-size: 80%;
      padding: 11px 0;
    }
  }

  canvas.signature-pad-canvas {
    cursor: crosshair;
  }

  .canvas-container {
    position: relative;
    display: inline-block;
    background: @sp-background;
    border: @sp-border;
    .box-shadow(0 5px 5px -4px fade(@brand-default, 60%));
  }

  .handoff-dialog {
    position: absolute;
    top: 0;
    right: 0;
    padding: 11px;
    font-size: 70%;
    text-align: right;
    z-index: 1;
  }
}
