<div class="container">
  {{#nav-tabs}}
    {{#nav-tab to='company-account.settings.enrollment.index'}}General{{/nav-tab}}
    {{#nav-tab to='company-account.settings.enrollment.enrollment-periods'}}Enrollment Periods{{/nav-tab}}
    {{#nav-tab to='company-account.settings.enrollment.contribution'}}Contribution{{/nav-tab}}
    {{#nav-tab to='company-account.settings.enrollment.eligibility'}}Eligibility{{/nav-tab}}
  {{/nav-tabs}}

  {{outlet}}
</div>
