<div class="container">
  <ul class="six-pack-nav six-pack-nav-borders">
    <li>
      {{#link-to 'company-account.settings.account'}}
        <span class="pack-icon">
          <i class="fa fa-fw fa-lock"></i>
        </span>
        Account
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'company-account.settings.communications'}}
        <span class="pack-icon">
          <i class="fa fa-fw fa-exchange"></i>
        </span>
        Communication Preferences
      {{/link-to}}
    </li>
    <li>
      <a href="#">
        <span class="pack-icon">
          <i class="fa fa-fw fa-gear"></i>
        </span>
        Some other setting
      </a>
    </li>
    <li>
      <a href="#">
        <span class="pack-icon">
          <i class="fa fa-fw fa-gear"></i>
        </span>
        Some other setting
      </a>
    </li>
  </ul>
</div>
