/*
  Company Account Styles
*/

.company-account-view {
  color: @gray;
  font-weight: 100;
  background: white;

  .viewport-max {
    background: linear-gradient( fade(white, 100%), transparent ), linear-gradient( 90deg, fade(lighten(@gray-light, 40%), 80%), transparent ), linear-gradient( -90deg, fade(lighten(@gray-lighter, 40%), 80%), transparent ), url('images/pattern_overlay.png') repeat;
  }

  .company-analytics {
    margin: 40px auto;
    width: 80%;

    h1, h2, h3, h4, h5, h6 {
      text-align: center;
    }
  }

  .page-title {
    margin: 0 15px 10px 15px;

    &.row {
      margin: 5px 0 10px 0;

      h1, h2, h3, h4, h5, h6 {
        margin: 0;
      }
    }
  }

  .page-margins {
    margin: 0 15px;

    .page-title .col-md-6 {
      padding: 0;
    }
  }

  ul.option-list {
    margin-top: 40px;
    font-size: 140%;
  }

  .employee-form {
    margin: 0 30px;

    h1, h2, h3, h4 {
      margin-bottom: 40px;
    }
  }

  .employee-form-container {
    margin-bottom: 30px;
  }

  .bulk-mode {
    margin: 20px 0;
  }
}

hgroup.company-account-header {
  margin: 10px 15px;
  padding-bottom: 10px;
  border-bottom: 1px dotted fade(@brand-default, 30%);

  .company-account-title {
    font-size: @font-size-h2;
    font-family: @headings-font-family;
    font-weight: @headings-font-weight;
    line-height: @headings-line-height;
    margin-top: 20px;
    margin-bottom: (@line-height-computed / 2);
    -webkit-font-smoothing: antialiased !important;
    color: @gray;

    &:hover {
      color: lighten(@brand-primary, 10%);
    }
  }
}

ul.option-list {
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 15px;
  }
}
