/*
  Enrollment Page Styles
*/

@enrollment-card-background: white;
@psli-bg: linear-gradient( white, transparent ), linear-gradient( 90deg, lighten(@gray-lighter, 20%), transparent ), linear-gradient( -90deg, lighten(@gray-light, 35%), transparent );
@psli-selected-bg: linear-gradient( lighten(@brand-primary, 20%), transparent ), linear-gradient( 90deg, lighten(@brand-primary, 10%), transparent ), linear-gradient( -90deg, @brand-primary, transparent );

.enrollment-wrapper {
  .enrollment-card {
    position: relative;
    padding: 30px;
    margin-bottom: 20px;
    background: @enrollment-card-background;

    .box-shadow(0 1px 3px fade(@brand-default, 40%));

    &:not(:first-child) {
      margin-top: 30px;
    }

    &.disabled .disabled-text {
      background: fade(@gray-lighter, 75%);
      position: absolute;
      text-align: center;
      padding-top: 20%;
      z-index: 2;
      margin: 0;
      text-shadow: 0 1px 1px fade(@brand-default, 60%);

      .trbl();
    }

    &:not(.disabled) .disabled-text {
      display: none;
      visibility: hidden;
    }
  }
}

.card-nav {
  text-align: center;
  margin-top: 10px;
  padding: 0;
  position: relative;
  z-index: 1;

  .card-nav-toggle {
    background: @brand-primary;
    color: white;
    border: none;
    padding: 0 20px;

    .transition(all 0.3s ease-in-out);

    &:hover {
      background: lighten(@brand-primary, 20%);

      .box-shadow(0 0 1px fade(@brand-default, 80%));
    }
  }

  .card-nav-content {
    background: @brand-primary;
    margin: 0;
    color: white;
    font-weight: 100;
    max-height: 0;
    overflow: hidden;

    .transition(all 1s ease-in-out);

    &.show {
      padding: 20px;
      max-height: 150px;
    }
  }

  .card-progress {
    width: 100%;
    height: 3px;
    background: @gray;

    .card-progress-bar {
      height: 100%;
      background: @brand-success;

      .transition(all 1s ease-in-out);
    }
  }
}

.dependent-list-item > .pull-left {
  margin-right: 8px;
}

.plan-selection-list {
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  .list-group-item {
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 30px;
    background: @psli-bg;

    .box-shadow(0 22px 10px -20px rgba(0, 0, 0, 0.15));

    &:hover {
      border-color: @brand-primary;
      .box-shadow(0 10px 10px -10px rgba(0, 0, 0, 0.15));
    }

    &.active {
      background: @psli-selected-bg;
    }

    .plan-title {
      margin-top: 15px;
    }

    ul.plan-details, ul.plan-costs, ul.plan-costs-list {
      list-style: none;
      padding: 0;
    }

    ul.plan-details, ul.plan-costs {
      > li {
        display: inline-block;
      }
    }

    ul.plan-costs {
      margin: 0;
      text-align: right;

      > li {
        text-align: left;
        max-width: 250px;
        padding: 15px 35px 15px 15px;
      }

      ul.plan-costs-list {
        > li {
          font-size: 75%;
          color: @gray-light;

          &:first-child {
            font-size: 100%;
          }
        }
      }

      .callout-cost {
        background: fade(@brand-primary, 90%);
        color: white;
        border-radius: 5px;

        .box-shadow(0 2px 3px fade(@brand-default, 50%) inset);

        ul.plan-costs-list > li {
          color: lighten(@gray-light, 15%);
        }
      }
    }

    ul.plan-details {
      margin-top: 10px;

      > li {
        padding: 4px 8px 7px 0;
        margin: 0 8px 0 0;
        border-right: 1px solid @gray-lighter;

        &:last-child {
          border-right: none;
          margin-right: 0;
          padding-right: 0;
        }
      }
    }
  }
}

.dependent-selection-list {
  > li {
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 30px;
    background: @psli-bg;
    cursor: move;

    .transition-all();
    .box-shadow(0 22px 10px -20px rgba(0, 0, 0, 0.15));

    &.is-dragging {
      background: @psli-selected-bg;
      border-color: @brand-primary;

      .box-shadow(0 0 25px 5px fade(@brand-default, 40%));
    }
  }
}