<div class="faq-title">
  <h3>
    {{content.question}}
  </h3>
</div>
<div class="faq-body">
  <p>{{{content.answer}}}</p>
  <small class='pull-right'>Updated: {{format-moment content.time_stamp "M/DD"}}</small>
</div>
