<div class="row text-center">
  <div class="col-md-3">
    <div class="form-inline form-group">
      {{dob-picker year=enrollment.dobYear month=enrollment.dobMonth day=enrollment.dobDay}}
      <p class="help-block">Date of Birth</p>
    </div>
  </div>
  <div class="col-md-3">
    {{#validation-wrapper formgroup=true valid=validity.gender}}
      {{gender-picker value=enrollment.gender}}
      <p class="help-block">Gender</p>
    {{/validation-wrapper}}
  </div>
  <div class="col-md-3">
    {{#validation-wrapper formgroup=true valid=validity.marital}}
      {{view Ember.Select class="form-control" content=marital_statuses value=enrollment.marital prompt="Marital Status"}}
      <p class="help-block">Marital Status</p>
    {{/validation-wrapper}}
  </div>
  <div class="col-md-3">

  </div>
</div>

<button type="submit" class="btn btn-success btn-block">Next</button>