{{#each subtitle in section.subtitles}}
  <div {{bind-attr id=subtitle.title}} class="sub-section">
    <h2 class="enrollment-subtitle">{{subtitle.display}}</h2>
    {{partial subtitle.title}}
  </div>
{{/each}}