<div class="row">
  <div class="col-md-5">
    {{#validation-wrapper formgroup=true valid=validity.firstName}}
      {{input class="form-control" value=enrollment.firstName placeholder="First Name"}}
    {{/validation-wrapper}}
  </div>
  <div class="col-md-2">
    {{#validation-wrapper formgroup=true valid=validity.middleInitial}}
      {{input class="form-control" value=enrollment.middleInitial placeholder="M.I."}}
    {{/validation-wrapper}}
  </div>
  <div class="col-md-5">
   {{#validation-wrapper formgroup=true valid=validity.lastName}}
      {{input class="form-control" value=enrollment.lastName placeholder="Last Name"}}
    {{/validation-wrapper}}
  </div>
</div>