<div class="row text-center">
  <div class="col-md-4">
    <div class="form-inline form-group">
      {{view Ember.Select class="form-control" content=years value=enrollment.dob_year prompt="YYYY"}}
      {{view Ember.Select class="form-control" content=months value=enrollment.dob_month prompt="MM"}}
      {{view Ember.Select class="form-control" content=days value=enrollment.dob_day prompt="DD" disabled=noDays}}
      <p class="help-block">Date of Birth</p>
    </div>
  </div>
  <div class="col-md-4">

  </div>
</div>