<div class="row">
  <div class="col-md-4">
  <div class="form-inline">
      <div class="form-group">
        {{view Ember.Select class="form-control" content=years value=enrollment.dob_year prompt="YYYY"}}
      </div>
      <div class="form-group">
        {{view Ember.Select class="form-control" content=months value=enrollment.dob_month prompt="MM"}}
      </div>
      <div class="form-group">
        {{view Ember.Select class="form-control" content=days value=enrollment.dob_day prompt="DD" disabled=noDays}}
      </div>
    </div>
    <p class="help-block">Date of Birth</p>
  </div>
</div>