<div class="row">
  <div class="col-md-5">
    <div class="form-group">
      {{input class="form-control" value=enrollment.name_first placeholder="First Name"}}
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      {{input class="form-control" value=enrollment.name_mi placeholder="Middle Initial"}}
    </div>
  </div>
  <div class="col-md-5">
    <div class="form-group">
      {{input class="form-control" value=enrollment.name_last placeholder="Last Name"}}
    </div>
  </div>
</div>