<div class="full-background enrollment-full-background">
  <div class="meshed-overlay"></div>
</div>
<div class="row enrollment-wrapper">
  <div class="col-md-2 scroll-spy-section">
    {{render "scroll-spy" sections}}
  </div>
  <div class="col-md-10 scroll-section">
    {{#each section in sections}}
      {{render "enrollment-section" section}}
    {{/each}}
  </div>
</div>

{{#bs-modal id="validation-modal" dismissible=false title='<h2><i class="fa fa-fw fa-exclamation-triangle"></i> Please complete before continuing</h2>'}}
  <div class="modal-body">
    <p>{{{validationText}}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-lg btn-primary btn-block" data-dismiss="modal" {{action "changeActive" toActive}}>Ok</button>
  </div>
{{/bs-modal}}