<div class="row">
  <div class="col-md-6 copyright">
    <p class="copyright-text">&copy; 2014 Associated Employers</p>
  </div>
  <div class="col-md-6">
    <ul class="footer-links">
      <li><a href="#">Get Help</a></li>
      <li>{{#link-to 'company-login'}}Company Login{{/link-to}}</li>
    </ul>
  </div>
</div>