<div class="row">
  <div class="col-md-6 header-left">
    <div {{bind-attr class=":logo-container onIndex:show-trust-text"}}>
      <div class="logo"></div>
      <span class="trust-text">Trust Enrollment</span>
    </div>
  </div>
  <div class="col-md-6 header-right">
    <ul class="header-links">
      <li>{{#link-to 'company-login' class="btn btn-primary btn-sm btn-o"}}Company Login{{/link-to}}</li>
      <li><a href="#" class="btn btn-danger btn-sm"><i class="fa fa-fw fa-life-ring"></i> Get Help</a></li>
    </ul>
  </div>
</div>