<div class="jumbotron jumbotron-index">
  <h1>Say hello to the new AE...</h1>

  <div class="jumbo-button-container">
    {{#link-to 'employee-login' class="btn btn-success btn-lg"}}
      Log in or Start Enrollment
    {{/link-to}}
  </div>

  <div class="bottom-callout">
    Trying to access your company? {{#link-to 'company-login' class="jumbotron-link"}}Log in here{{/link-to}}
  </div>
</div>

<div class="row blurbs">
  <div class="col-md-4 blurb">
    <div class="blurb-content">
      <hgroup>
        <h2><i class="fa fa-fw fa-2x fa-check-circle"></i></h2>
        <h3>Easy Enrollment</h3>
      </hgroup>
      <p>
        Changing jobs can be stressful. Applying for your benefits is not.
        <span class="blurb-link">
          {{#link-to 'employee-login'}}Get started{{/link-to}}
        </span>
      </p>
    </div>
  </div>
  <div class="col-md-4 blurb">
    <div class="blurb-content">
      <hgroup>
        <h2><i class="fa fa-fw fa-2x fa-child"></i></h2>
        <h3>Online Changes</h3>
      </hgroup>
      <p>
        Changing your coverage should be quick. You can make all the qualifying changes you need and even upload supporting documentation for faster approval.
        <span class="blurb-link">
          {{#link-to 'employee-login'}}Login in to your account{{/link-to}}
        </span>
      </p>
    </div>
  </div>
  <div class="col-md-4 blurb">
    <div class="blurb-content">
      <hgroup>
        <h2><i class="fa fa-fw fa-2x fa-file-text"></i></h2>
        <h3>Plan Documents</h3>
      </hgroup>
      <p>
        Access all of your enrollment documents in one place. No more paper and no more losing important coverage information.
        <span class="blurb-link">
          <a href="#">Access your documents</a>
        </span>
      </p>
    </div>
  </div>
</div>

{{signature-pad handoffEnabled=true width="80%" height="500"}}
