<h1 class="text-center">
  {{#if onSubRoute}}
    {{#link-to 'support.index'}}
      <i class="fa fa-angle-left"></i>
    {{/link-to}}
  {{/if}}
  Support<br />
  <small>Get help with your questions</small>
</h1>

{{outlet}}
